.you-tube-wrapper {
  display: contents;
}
 
.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-pasted-image {
  width: 120px;
}
 
.you-tuberoot-class-name {
  background-color: rgba(241, 241, 241, 0);
}
 
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
 
.home-hero {
  width: 100%;
  height: 1724px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  background-color: #ff8f00;
}
 
.home-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.home-logo {
  width: 64px;
}
 
.home-links {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-close-mobile-menu {
  top: var(--dl-layout-space-oneandhalfunits);
  right: var(--dl-layout-space-oneandhalfunits);
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-icon1 {
  width: 24px;
  height: 24px;
  display: flex;
}
 
.home-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-shadow: 0px 0px 60px 0px #ffffff;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
 
.home-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
 
.home-image1 {
  width: 142px;
  height: 51px;
  object-fit: cover;
}
 
.home-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.home-link1 {
  display: contents;
}
 
.home-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: #000000;
}
 
.home-get-started:hover {
  background-color: #5228F5;
}
 
.home-text10 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
 
.home-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-content {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
 
.home-text11 {
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
 
.home-text12 {
  color: #ffffff;
}
 
.home-text13 {
  color: #ffffff;
}
 
.home-text14 {
  color: #ffffff;
}
 
.home-text15 {
  color: #ffdfa0;
}
 
.home-text16 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
 
.home-dashboard-preview {
  top: 1438px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 478px;
  margin: auto;
  display: flex;
  position: absolute;
  border-color: #ffb500;
  border-style: dashed;
  border-width: 45px;
  border-radius: 100px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffa232;
}
 
.home-features {
  width: 100%;
  display: flex;
  padding: 0px;
  z-index: 1;
  align-items: center;
  border-color: #ffb500;
  border-style: dashed;
  border-width: 45px;
  flex-direction: column;
  background-color: #ffa232;
  border-top-width: 0px;
  border-bottom-width: 0px;
}
 
.home-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text17 {
  color: #ffffff;
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  line-height: 72px;
}
 
.home-cards {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
}
 
.home-container4 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: row;
}
 
.home-schedule {
  border-color: #ffe093;
  border-style: dashed;
  border-width: 15px;
  background-color: #ffb500;
}
 
.home-text18 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-publish {
  height: initial;
  border-color: #ffe093;
  border-style: dashed;
  border-width: 15px;
  background-color: #ffb500;
}
 
.home-text19 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  border-width: 0px;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-container5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-sixunits);
  flex-direction: row;
}
 
.home-analyze {
  border-color: #ffe093;
  border-style: dashed;
  border-width: 15px;
  background-color: #ffb500;
}
 
.home-text20 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-bottom: 16px;
}
 
.home-integrations {
  width: 100%;
  height: 368px;
  display: flex;
  padding: var(--dl-layout-space-sevenunits);
  align-items: center;
  border-color: #ffb500;
  border-style: dashed;
  border-width: 45px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffa232;
  border-top-width: 0px;
  border-bottom-width: 45px;
}
 
.home-centered-container {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text21 {
  color: #ffffff;
}
 
.home-pills-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-pills {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-layout-space-twounits);
  flex-wrap: wrap;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-container6 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
 
.home-link2 {
  display: contents;
}
 
.home-component {
  text-decoration: none;
}
 
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sevenunits);
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sevenunits);
  background-color: #000000;
}
 
.home-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
 
.home-image2 {
  width: 158px;
  height: 56px;
  object-fit: cover;
}
 
.home-text22 {
  color: rgb(104, 104, 104);
  font-size: 14px;
  line-height: 30px;
}
 
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .home-desktop-navigation {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-left {
    margin-left: var(--dl-layout-space-halfunit);
  }
  .home-get-started {
    display: none;
  }
  .home-mobile-menu-button {
    display: flex;
  }
  .home-content {
    width: 100%;
    max-width: 1200px;
  }
  .home-features {
    padding-top: 260px;
  }
  .home-title {
    width: 100%;
    max-width: 1200px;
  }
  .home-text17 {
    font-size: 36px;
    line-height: 40px;
  }
  .home-cards {
    margin-top: var(--dl-layout-space-fiveunits);
  }
  .home-footer {
    padding: var(--dl-layout-space-sixunits);
  }
  .home-text22 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .home-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: #f5aa28;
  }
  .home-mobile-navigation {
    left: 0px;
    right: 0px;
    width: 767px;
    margin: auto;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-left {
    margin-left: var(--dl-layout-space-unit);
  }
  .home-right {
    margin-right: var(--dl-layout-space-unit);
  }
  .home-get-started {
    display: none;
  }
  .home-content {
    height: 100%;
    margin-top: var(--dl-layout-space-fourunits);
    justify-content: center;
  }
  .home-text11 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-text16 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-layout-space-unit);
    line-height: 24px;
  }
  .home-dashboard-preview {
    top: 520px;
    width: 767px;
    border-width: 45px;
    border-radius: 90px;
  }
  .home-features {
    padding-top: 350px;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text17 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-container4 {
    gap: var(--dl-layout-space-oneandhalfunits);
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-text18 {
    font-size: 24px;
  }
  .home-publish {
    margin-left: 0px;
  }
  .home-text19 {
    font-size: 24px;
  }
  .home-container5 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-analyze {
    margin-right: 0px;
  }
  .home-text20 {
    font-size: 24px;
  }
  .home-integrations {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-pills {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .home-footer {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 479px) {
  .home-hero {
    padding-bottom: 160px;
  }
  .home-logo {
    margin-left: 0px;
  }
  .home-icon1 {
    align-items: center;
    justify-content: center;
  }
  .home-text16 {
    color: #EEE9FE;
  }
  .home-dashboard-preview {
    top: 500px;
    width: 479px;
    height: 354px;
    border-width: 45px;
    border-radius: 90px;
  }
  .home-features {
    padding-top: 200px;
  }
  .home-cards {
    margin-top: var(--dl-layout-space-threeunits);
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .home-container4 {
    gap: var(--dl-layout-space-oneandhalfunits);
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-container5 {
    gap: var(--dl-layout-space-oneandhalfunits);
    margin-bottom: 0px;
  }
  .home-analyze {
    margin-bottom: 0px;
  }
  .home-footer {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
}
